h1{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    text-transform: uppercase;

}
div{height: 500px; width: 500px;
    background-image: url("https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

div p{
    color: red;
    text-align: center;}

#kk {
        color: blue;
    }
    h2{
        font-weight: bold;
   
    }
    ul{
        font-weight:bolder;
    }


