.d1{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    transition: width 3s

}

.d1:hover{
    width: 350px;
}

.d2{
    width: 100px;
    height: 100px;
    background-color:pink;
    position: relative;
    transition: width 6s, height 6s

}

.d2:hover{
    
width: 300px;
    height:300px;


}