
body{
    background-color: white;
}
div{
    display: inline-block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    top:45%;
    left: 45%;
    position: absolute;
    overflow: hidden;
    transform: translate(-50,-50);
    transition: ease-in 0.07s;
    animation-name: marwa;
    animation-duration: 3s;
}


@keyframes marwa{
    0%{ background-color: none;}
100%{ background-color: aqua;}
}

div:hover{
   color: aqua;
   width: 100 px;
}
